
        .centre{
            display: flex;
            justify-content: center;
            columns: flex;
            
        }

        body {
          background-image: url("background.jpg")

        }
          
        

        #box {
          width: 500px;
          padding: 100px;
          border: 5px solid rgb(244, 205, 205);
          margin: auto;

        }
        fieldset{
          border-color: blueviolet;
          width: auto;
        }

        .column {
          float: left;
          width: 33%;
          height: 200px;
          border: 150px rgb(161, 161, 246);
          background-color: rgb(196, 176, 214);
          text-align: center;
        }
        
        .row:after {
          content: "";
          display: table;
          clear: both;
          border: 30px rgb(161, 161, 246);
          text-align: center;
        }

        
 